################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/FractalViewer/v15/Browse.VC.opendb
/Debug
/Release
/.vs/FractalViewer/v15/ipch/AutoPCH
/.vs/FractalViewer/v15/.suo
